.addboard {
    &__overlay {
        @include flex;
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }
    &__button {
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 30px;
        border-radius: $border-radius;
        background: 0;
        color: $black;
        padding: 5px 20px; 
        cursor: pointer;
        border: 0;
        @include transition;
        @include events {
            background: rgba(0,0,0,0.1);
        }
    }
    &__inner {
        width: 500px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-to(xs) {
            width: 100%;
        }
    }
    &__input-wrapper {
        position: relative;
        padding-bottom: 45px;
        width: 100%;
    }
    &__input {
        width: 100%;
        padding: 5px 0;
        font-size: 24px;
        text-align: center;
        border: none;
        border-bottom: 2px solid $black;
        &:focus {
            outline: 0;
            border-color: $black;
        }
    }
    &__message {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        text-align: center;
        color: $red;
    }
    &__themes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 45px;
    }
    &__submit {
        font-size: 22px;
        border-radius: $border-radius;
        background: 0;
        color: $white;
        padding: 5px 20px; 
        cursor: pointer;
        border: 0;
        background: $green;
        @include transition;
        @include events {
            background: darken($green, 15);
        }
        &--err {
            background: rgba(0,0,0,0.3);
            cursor: not-allowed;
            @include events {
                background: rgba(0,0,0,0.3);
            }
        }
    }
}