.board-lists {
    padding: 35px 0 35px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // overflow-x: auto;
    // overflow-y: hidden;
    height: 100%;
    &__wrapper {
        width: 100vw;
        height: calc(100vh - 120px);
        & > div > div {
            height: 100%;
        }
        @include respond-to(lg) {
            height: calc(100vh - 190px);
        } 
        @include respond-to(md) {
            height: calc(100vh - 275px);
        } 
    }
}