.card-edit {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    height: 100vh;
    width: 100vw;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        z-index: -1;
        opacity: .5;
    }
    &__inner {
        background: $white;
        border-radius: $border-radius;
        padding: 50px;
        position: relative;
        width: 500px;
        margin-top: 50px;
        @include respond-to(xs) {
            width: 100%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    &__title {
        box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
        border: 0;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    &__desc {
        box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
        border: 0;
        height: 150px;
        width: 100%;
        resize: none;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    &__date {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
            border: 0;
            padding: 15px;
            width: 320px;
            margin-left: 20px;
            font-size: 16px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        @include respond-to(xs) {
            justify-content: center;
        }
    }
    &__exit-button {
        position: absolute;
        right: -25px;
        top: -25px;
        font-size: 25px;
        border-radius: 50%;
        background: $white;
        color: $black;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition;
        @include events {
            background: $light;
        }
    }
}