.list {
    flex: 0 0 400px;
    @include transition;
    border-radius: $border-radius;
    height: 100%;
    &--drag-over {
        background: transparentize($white, 0.7);
    }
    &__cards-wrapper {
        overflow-y: auto;
        max-height: 100%;
        padding: 0 15px;
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 0 5px 5px 5px;
        padding: 0 15px 5px 15px;
    }
    &__title {
        flex: 1;
        margin-right: 15px;
        background: none;
        color: $white;
        font-weight: 600;
        border: 0;
        border-bottom: 3px solid transparent;
        padding: 10px 15px;
        font-size: 20px;
        @include transition;
        @include events {
            border-color: $white;
        }
    }
    &__del-button {
        padding: 5px 10px;
        border-radius: $border-radius;
        border: none;
        background: none;
        cursor: pointer;
        color: $white;
        @include transition;
        @include events {
            color: $gray;
            background: $white;
        }
    }
    &__icon {
        font-size: 18px;
        &--hand {
            color: $white;
            margin-right: 15px;
            font-size: 20px;
        }
    }
}