.new-card {
    padding: 15px 0;
    &__input {
        width: 100%;
        background: $white;
        color: $gray;
        font-weight: 600;
        border: 3px solid $white;
        border-radius: $border-radius;
        padding: 10px 15px;
        font-size: 18px;
        opacity: .5;
        box-shadow: 4px 4px 5px rgba(30, 30, 30, 0.08);
        @include transition;
        @include events {
            opacity: 1;
        }
          &::placeholder {
            color: $gray;
        }
        &::-webkit-input-placeholder { 
            color: $gray;
          }
        &::-moz-placeholder { 
            color: $gray;
          }
        &:-ms-input-placeholder { 
            color: $gray;
          }
        &:-moz-placeholder { 
            color: $gray;
          }
    }
}