.theme-radio {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: $border-radius;
    margin: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 4px rgba(30, 30, 30, 0.08), inset 0 0 5px rgba(30, 30, 30, 0.1);
    &__input {
        display: none;
        &:checked ~ .theme-radio__icon {
            transform: scale(1);
        }
    }
    &__icon {
        color: $white;
        position: absolute;
        bottom: 6px;
        right: 8px;
        font-size: 20px;
        @include transition;
        transform: scale(0);
    }
}